@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
a {
  text-decoration: none;
}
.container {
  /* margin: 0 auto; */
  width: 870px;
  background-color: #ffffff;
  padding: 30px;
}
hr {
  border: 1px solid #d1d1d1;
}
/* players css start */
main {
  display: flex;
  justify-content: center;
}
.section-title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 30px;
  /* padding: 30px; */
}
.player {
  display: flex;
  align-items: center;
  gap: 16px;
}
.player img {
  width: 55px;
}
.player h3 {
  font-size: 18px;
  font-weight: 500;
}
/* blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
}
.blog-title {
  margin: 30px 0;
}
.blog {
  display: flex;
  align-items: center;
  gap: 16px;
}
.blog .blog-img img {
  width: 177px;
}
.blog .blog-info h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  /* line-height: 34px; */
}
.blog .blog-info .blog-author {
  color: #9f9f9f;
}
.blog .blog-info .blog-author a {
  color: #562eff;
}
